---
--- 

body {
    margin: 0;
}

h1 {
    font-family: 'Arial Narrow Bold', Arial, sans-serif;
}

.logo {
    width: 12em;
    margin-left: 1em;
}

.topnav {
    border-bottom: 1px solid black;
    width: 100%;
}

.statement {
    font-family: 'Arial Narrow', Arial, sans-serif;
    font-size: 5em;
    width: 60%;
    padding-left: 1em;
    margin-bottom: 0;
}

.menu {

    margin: -1.05em 1.5em 0 0;
    float: right;
    text-align: right;

    font: 4em "Arial Black", black;

    ul {
        list-style: none;

        a {
            color: black;
            text-decoration: none;
            margin-right: 0.4em;

            &:hover {
                text-transform: uppercase;
            }
        }
    }
}

.text {
    font: 1.2em Arial, Helvetica, sans-serif, black;
    width: 70%;
    margin: auto;
}

@font-face {
    font-family: 'Arial Black';
    font-style: normal;
    font-weight: normal;
    src: local('Arial Black'), url('ARIBLK.woff') format('woff');
}

@font-face {
    font-family: 'Arial Narrow Bold';
    font-style: normal;
    font-weight: normal;
    src: local('Arial Narrow Bold'), url('ARIALNB.ttf') format('truetype');
}

@font-face {
    font-family: 'Arial Narrow';
    font-style: normal;
    font-weight: normal;
    src: local('Arial Narrow'), url('ARIALN.TTF') format('truetype');
}

@media only screen and (max-width: 765px) {
    .statement {
        width: 70%;
        margin: auto;
        padding: 0;
    }
}

@media only screen and (max-width: 640px) {
    .statement {
        font-size: 3em;
    }
    .menu {
        font-size: 2.5em;
    }
}